nav {
	height: 150px;
	background-color: #2e3493;
}

img {
	height: 100px;
	padding-top: 25px;
	padding-left: 25px;
}

#login-register-button, #tips-on-donating-button, #faq-button {
	background-color: #ffffff;
	color: #2e3493;
	text-decoration: none;
	padding: 10px 20px;
	float: right;
	margin-right: 25px;
	margin-top: 90px;
	border-radius: 5px;
}

#login-register-button:hover, #tips-on-donating-button:hover, #faq-button:hover {
  background-color: #ef3026;
  color: #ffffff;
  cursor: pointer;
}

div {
	display: inline-block;
	width: 100px;
}

#login-form-block, #registration-form-block {
	display: inline-block;
	width: 49%;
	text-align: center;
}

input[type=submit] {
	background-color: #2e3493;
	color: #ffffff;
	padding: 10px 20px;
	border-radius: 5px;
}

input[type=submit]:hover {
  background-color: #ef3026;
  color: #ffffff;
  cursor: pointer;
}

footer {
	background-color: #bfbfbf;
	height: 50px;
}
background-color: #ef3026; red 
color: #ffffff; white
background-color: #2e3493; blue