#sitename{
	display: inline-block;
	font-size: 75px;
	font-family: Corsiva, cursive;
	color: white;
	margin-left: 600px;
	text-decoration: white underline wavy;
}

.grid-container {
  display: grid;
  grid-template-areas: 
    'header header header header header header' 
    'left middle middle middle middle right' 
    'footer footer footer footer footer footer';
  /* grid-column-gap: 10px; - if you want gap between the columns */
} 

.left,
.right,.middle {
  padding: 10px;
}

/* Style the left column */
.left {
  grid-area: left;
}

/* Style the middle column */
.middle {
  grid-area: middle;
}

/* Style the right column */
.right {
  grid-area: right;
}

nav {
       height: 150px;
       background-color:#ff4d4d;
}

 img {
       height: 450px;
 }


body {
  margin: 0;
}

navsa {
	height: 150px;
	background-color: #2e3493;
}

#logo-img {
	height: 100px;
	padding-top: 25px;
	padding-left: 25px;
}

#login-register-button, #tips-on-donating-button, #faq-button, #logout-button, #share-experience-button, #donate-button {
	background-color: #ffffff;
	color: #2e3493;
	text-decoration: none;
	padding: 10px 20px;
	float: right;
	margin-right: 25px;
	margin-top: 90px;
	border-radius: 5px;
}

#login-register-button:hover, #tips-on-donating-button:hover, #faq-button:hover, #logout-button:hover, #share-experience-button:hover, #donate-button:hover {
  background-color: #ef3026;
  color: #ffffff;
  cursor: pointer;
}

.form-field-name {
	display: inline-block;
	width: 150px;
	text-align: left;
}

#login-form-block, #registration-form-block {
	display: inline-block;
	width: 49%;
	text-align: center;
	font-size: 25px;
}

#requirement-form-block, #availability-form-block, #experience-form-block {
	font-size: 25px;
	text-align: center;
}

#requirement-table-block, #availability-list-block, #no-availability-block {
	margin-left: 60px;
	font-size: 25px;
}

#availability-list-block, #no-availability-block {
	text-align: center;
}

#requirement-table {
	width: 100%;
	text-align: center;
}

th, td {
	height: 30px;

}

.notification-block {
	margin-left: 60px;
	font-size: 25px;
}

input, select {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

input[type=text], input[type=number], select, input[type=password], input[type=email] {
	width: 150px;

}

textarea {
	width: 300px;
	height: 150px;
}

input[type=submit], #post-button, #raise-query-button {
	

	padding: 10px 20px;
	border-radius: 5px;
	border: 3px solid #ff4d4d;
	background-color: white;
	color: #ff4d4d;
}

input[type=submit]:hover, #post-button:hover, #raise-query-button:hover {
  background-color: #ef3026;
  color: #ffffff;
  cursor: pointer;
}

#home {
	margin-left: 60px;
	margin-right: 60px;
	font-size: 22px;
}

#tips {
	margin-left: 60px;
	margin-right: 60px;
}

#faq {
	margin-left: 60px;
	margin-right: 60px;
}

#raise-query-button-block {
	text-align: center;
}

#query-block {
	margin-left: 20%;
	margin-right: 20%;
	text-align: center;
}

#query-textarea {
	width: 100%;
}

footer {
	background-color:#ff4d4d;
	height: 50px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	color: white;
	font-size: 20px;
}

background-color: #ef3026; red 
color: #ffffff; white
background-color: #2e3493; blue
background-color: #bfbfbf;
background-color: #2e3493;